/* You can add global styles to this file, and also import other style files */
.nav-bag-color{
    background-color: darkblue;
}

h1{
    color:white;
}

h3{
    color: white;
}

label{
    color: white;
}

.account{
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 300px;
  padding-left: 0px;
}


.help{
  padding-top: 50px;
  padding-bottom: 0px;
  padding-right: 100px;
  padding-left: 100px;
}

.other{
    padding-top: 00px;
    padding-bottom: 0px;
    padding-right: 500px;
    padding-left: 50px;
}
