/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
.account{
  padding-bottom: 200px;
  padding-right: 300px;
  padding-top: 200px;
}

.nav-bag-color{
    background-color: red;
}
