<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
</head>

<body>
  <h1>Account Information</h1>
  <div class="container" style="background: white;">
    <div class="row">
      <div class="col-sm-6">
        <img src= 'kitten.png'>
        <br>
        <br>

        <a class="btn btn-success" routerLink="/createAccount"> Create an Account</a>
      </div>
      <div class="col-sm-6">
          <img src='husky.png'
          height = 100px
          alt="husky">
          <br>
          <br>
        <a class="btn btn-warning" routerLink="/viewAccount"> View an Account</a>
      </div>
    </div>
  </div>
</body>

</html>
