<h1>Account Information</h1>
<div class="container" style="background: lightblue;">
  <div class="row">
      <div class="col-sm-3">
            <img src="../assets/giraffe.png"
            height=900px
            width = 400px
            alt="giraffe"><br>
    </div>
    <div class="col-sm-4 account">
      <a class="btn" routerLink="/create-account">
          <img src="../assets/kitten.png" height=300px alt="kitten">
          <a class="btn btn-success">Create an Account</a>
      </a>
    </div>

      <div class="col-sm-4 account">
        <a class="btn" routerLink="/view-account">
            <img src="../assets/dog.png" height=300px alt="husky"><br>
            <a class="btn btn-warning">View Your Account</a>
        </a>
    </div>

 </div>
</div>
