
  <h1>Account Information</h1>
  <div class="container" style="background: white;">
    <div class="row">
      <div class="col-sm-6">
        <img src= "../assets/kitten.png"
        height = 100px
        alt ="kitten">
        <br>
        <br>

        <a class="btn btn-success" routerLink="/createAccount"> Create an Account</a>
      </div>
      <div class="col-sm-6">
          <img src='../assets/husky.png'
          height = 100px
          alt="husky">
          <br>
          <br>
        <a class="btn btn-warning" routerLink="/viewAccount"> View an Account</a>
      </div>
    </div>
  </div>
