
  <div class="container">
    <div class="row">
      <div class="col-sm-12">


        <h1>Welcome! </h1>
        <h4> This is where your pet's account information is stored</h4>
        <div class="container">
          <div class="row">
            <div class="col-sm-12">

              <table class="table table-borderless table-dark table-hover">
                <tbody>
                  <tr>
                    <th><label for="username"> UserName: </label></th>
                    <th><input type="text" id="username" placeholder="@tommy"> </th>
                  </tr>
                  <tr>
                    <th><label for="email"> Email: </label></th>
                    <th><input type="text" id="email" placeholder="Enter your  Email"></th>
                  </tr>
                  <tr>
                    <th><label for="password"> Password: </label></th>
                    <th><input type="password" id="password" placeholder="*********"></th>
                  </tr>
                  <tr>
                    <th><label for="cpassword"> Confirm Password: </label></th>
                    <th><input type="password" id="cpassword" placeholder="*********"></th>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
