<div class="container">
  <div class="row">
    <div class="col-sm-12">

      <h1>Welcome! </h1>
      <h4 style="color:white;"> This is where your pet's account information is stored</h4>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">

            <div *ngFor="let pet of pets">
                
              <table class="table table-borderless table-dark table-hover">
                <tbody>
                  <tr>
                    <th>Name:</th>
                    <th>{{pet.name}}</th>
                  </tr>
                  <tr>
                    <th>Gender:</th>
                    <th>{{pet.gender}}</th>
                  </tr>
                  <tr>
                    <th>Type:</th>
                    <th>{{pet.type}}</th>
                  </tr>
                  <tr>
                    <th>Sepcies</th>
                    <th>{{pet.species}}</th>
                  </tr>
                  <tr>
                    <th>Height Ft:</th>
                    <th>{{pet.heightft}}</th>
                  </tr>
                  <tr>
                    <th>Height in:</th>
                    <th>{{pet.heightin}}</th>
                  </tr>
                  <tr>
                    <th>Weight lbs:</th>
                    <th>{{pet.weight}}</th>
                  </tr>
                  <tr>
                    <th>Age:</th>
                    <th>{{pet.age}}</th>
                  </tr>
                  <tr>
                    <th>Owner Name:</th>
                    <th>{{pet.ownerName}}</th>
                  </tr>
                  <tr>
                    <th>Address:</th>
                    <th>{{pet.address}}</th>
                  </tr>
                  <tr>
                    <th>Phone Number:</th>
                    <th>{{pet.phone}}</th>
                  </tr>
                  <tr>
                    <th>primary Vet:</th>
                    <th>{{pet.primaryVet}}</th>
                  </tr>
                  <tr>
                    <th>Primary Vet Number:</th>
                    <th>{{pet.primaryVetPhone}}</th>
                  </tr>

                </tbody>
              </table>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
