.card-style{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius:10px;
}

.submit-button{
    width: 40%;
    height: 140%;
    border-radius:10px;
    letter-spacing: 1.5px;
}

.submit-button:hover{
    color:white;
}

input::placeholder{
   opacity: 0.4;
}

.inputres{
    border-radius:10px;
    height:45px;
    letter-spacing: 1.5px;
}
