
        <div class="container" style = "color: white;">
          <div class="row">
            <div class="col-sm-12">


              <h1>Welcome to your Personal portal! </h1>
              <h4> This is where your pet's account information is stored</h4>
              <div class="container">
                <div class="row">
                  <div class="col-sm-5">
                      
                    <table class="table table-borderless table-dark table-hover">
                      <tbody>
                        <tr>
                          <th><label for="name"> Name: </label></th>
                          <th><input type="text" id="name" placeholder="Tommy"> </th>
                      </tr>

                      </tbody>
                    </table>
                </div>
                <div class="com-sm-6">
                    <table class="table table-borderless table-dark table-hover">
                      <tbody>
                          <tr>
                              <th>Vist #</th>
                              <th>Date</th>
                              <th width = 200px>Reason</th>
                          </tr>
                          <tr>
                              <td><input type="text" size="3"></td>
                              <td><input type="date"></td>
                              <td ><input type="text" size="45"></td>
                          </tr>
                          <tr>
                              <td><input type="text" size="3"></td>
                              <td><input type="date"></td>
                              <td ><input type="text" size="45"></td>
                          </tr>
                          <tr>
                              <td><input type="text" size="3"></td>
                              <td><input type="date"></td>
                              <td ><input type="text" size="45"></td>
                          </tr>
                          <tr>
                              <td><input type="text" size="3"></td>
                              <td><input type="date"></td>
                              <td ><input type="text" size="45"></td>
                          </tr>
                          <tr>
                              <td><input type="text" size="3"></td>
                              <td><input type="date"></td>
                              <td ><input type="text" size="45"></td>
                          </tr>
                          <tr>
                              <td><input type="text" size="3"></td>
                              <td><input type="date"></td>
                              <td ><input type="text" size="45"></td>
                          </tr>
                          <tr>
                              <td><input type="text" size="3"></td>
                              <td><input type="date"></td>
                              <td ><input type="text" size="45"></td>
                          </tr>

                      </tbody>
                  </table>
                </div>
                </div>
              </div>
            </div>
          </div>
        </div>
