<div id="petCareIntro" class="carousel slide container slider cover-text" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#petCareIntro" data-slide-to="0" class="active"></li>
    <li data-target="#petCareLogin" data-slide-to="1"></li>
    <li data-target="#petCareRegister" data-slide-to="2"></li>
  </ol>

  <main role="main" class="inner cover">
    <h1 class="cover-heading"> Pet<span>&#183;</span>Care</h1>
    <p class="lead"> PetCare stores a pet’s health & personal information for easy access for a veterinarian as well as the owner of the pet</p>
    <p class="lead">
    </p>
  </main>

  <!-- Slide 1 -->
  <div class="carousel-inner ">
    <div class="carousel-item active container">
      <img src="../../assets/kitten.png" class="img-fluid col" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="card card-style  " style="width: 25rem; height: 18rem;">
          <div class="card-body text-center">
            <h4>PetCare stores a pet’s health & personal information for easy access for a veterinarian as well as the owner of the pet</h4>

          </div>
        </div>
      </div>
    </div>

    <!-- Slide 2 -->
    <div class="carousel-item container">
      <img src="../../assets/dog.png" class="img-fluid" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="card card-style" style="width: 25rem; height: 18rem;">
          <div class="card-body text-center">

            <a class="btn btn-secondary lis account-button" routerLink = "/login">Login</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Slide 3-->
    <div class="carousel-item container">
      <img src="../../assets/kitten.png" class="img-fluid" alt="..." />
      <div class="carousel-caption d-none d-md-block">
        <div class="card card-style" style="width: 25rem; height: 18rem;">
          <div class="card-body text-center">
              <a class="btn btn-secondary lis account-button" routerLink = "/register">Register</a>

          </div>
        </div>
      </div>
    </div>

    <a class="carousel-control-prev arrow" href="#petCareIntro" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only arrow">Previous</span>
    </a>
    <a class="carousel-control-next arrow" href="#petCareIntro" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
