.center {
  text-align: center;
}

img {
  border-radius: 50%;
  padding-bottom: 20px;

}

.center {
text-align: center;
}

label{
    font-size: 24px;
}

button{
    margin-top: 20px;
}

.name{
    font-family: Typewriter, serif;
    font-size: 23px;
    font-stretch: expanded;
    font-variant: small-caps;
}
