
  <h1> Contact Us </h1>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <h3>Our Creator</h3>
        <h4>Dr. Sai Allala</h4>
        <h6>Office hours: 9AM - 6PM</h6>
        <h6>Phone no: 732-712-6245</h6>
        <h6>Email: petcare@techwaves.com</h6>
      </div>

      <div class="col-sm-6">
        <h4>Customer Service</h4>
        <h6>Office hours: 8AM - 10PM</h6>
        <h6>Phone no: 732-897-0987</h6>
        <h6>Email: petcare@techwaves.com</h6>
      </div>
    </div>
  </div>
