<div style = "background: darkblue;">
<h1 style = "color:red; text-align: center;">PetCare</h1>
  <!-- NavBar for the Whole Application -->
  <nav class="navbar navbar-expand-lg navbar-dark nav-bag-color">
    <a class="navbar-brand" routerLink = "/" >PetCare</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink = "/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/account">Account</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink = "/health">Health Info</a>
            <a class="dropdown-item" routerLink = "/contact">Contact Info</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink = "/help">Help</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
</nav>

  <router-outlet></router-outlet>

  <!-- Home Page -->
  <!-- <app-home> </app-home> -->

  <!-- Help Page -->
  <!-- <app-help> </app-help> -->

  <!-- Account information -->
  <!-- <app-account></app-account> -->

  <!-- Profile -->
  <div style = "background: grey">
  <footer class="page-footer font-small">
<div class="container">
    <br>
          <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">Links</h5>

          <ul class="list-unstyled">
            <li>
              <a href="#!">Link 1</a>
            </li>
            <li>
              <a href="#!">Link 2</a>
            </li>
            <li>
              <a href="#!">Link 3</a>
            </li>
            <li>
              <a href="#!">Link 4</a>
            </li>
          </ul>

        <hr class="clearfix w-100 d-md-none">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-light">© 2019 Copyright:
      <a href="https://techwaves.home.blog"> techWaves.com</a>
    </div>
    </div>
    <!-- Copyright -->
  </footer>
</div>
