<!-- NavBar for the Whole Application -->

<nav class="navbar navbar-expand-lg nav-fill navbar-light nav-bag-color nav-font nav-bar-css d-flex justify-content-between  shadow">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse center" id="navbarSupportedContent">
    <ul class="navbar-nav w-100 ">

      <li class="nav-item lis">
        <a class="nav-link" routerLink="/health">Health <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item lis">
        <a class="nav-link" routerLink="/profile">Profile <span class="sr-only">(current)</span></a>
      </li>
      <li class=" nav-item lis">
        <img src="/../../assets/petco.gif" height="70vw" routerLink="/home" alt="tdo">
      </li>

      <li class="nav-item lis">
        <a class="nav-link" routerLink="/account">Account <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item lis">
        <a class="nav-link" routerLink="/help">Help <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul>
        <button type="button" class= "btn btn-secondary lis account-button" (click)="openLogin()">Login</button>
    </ul>

    <!-- <form class="form-inline my-2 my-lg-0">
                  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form> -->

  </div>
</nav>



<router-outlet></router-outlet>
<!-- <button type="button" name="button" (click)="test()">SHDNFLDJNFAKJDNAGKJ</button> -->

<div class="container">
    <div class="row">
        <div class="col-sm-12">


        </div>
    </div>
</div>
<div class="container-flex">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  <div class="row footer">
    <div class="col">
      <div>© 2019 TechWaves | TeachWaves LLC, All rights reserved.</div>
      <div> 110 Allen rd | Basking Ridge | New Jersey | 08854 | USA </div>
    </div>
  </div>
</div>
