
        <div class="container" style = "color: white;">
          <div class="row">
            <div class="col-sm-12">


              <h1>Welcome to your Personal portal! </h1>
              <h4> This is where your pet's account information is stored</h4>
              <div class="container">
                <div class="row">
                  <div class="col-sm-12">

                    <table class="table table-borderless table-dark table-hover">
                      <tbody>
                        <tr>
                          <th><label for="name"> Name: </label></th>
                          <th><input type="text" id="name" placeholder="Tommy" size = "50"> </th>
                        </tr>

                        <tr>
                          <th><label for="email"> Email: </label></th>
                          <th><input type="text" id="email" placeholder="Enter your  Email"size = "50"></th>
                        </tr>

                        <tr>
                          <th><label for="owner"> Owner: </label></th>
                          <th><input type="text" id="owner" placeholder="Sammy"size = "50"></th>
                        </tr>

                        <tr>
                          <th><label for="phone"> Phone No: </label></th>
                          <th><input type="text" id="phone" placeholder="6098764536"size = "50"></th>
                        </tr>

                        <tr>
                          <th><label for="vet"> Primary Vet: </label></th>
                          <th><input type="text" id="vet" placeholder="Dr. Sammy Burger" size = "50"></th>
                        </tr>

                        <tr>
                          <th><label for="vetNumber"> Primary Vet Number: </label></th>
                          <th><input type="text" id="vetNumber" placeholder="9087832875" size = "50"></th>
                      </tr>

                      </tbody>
                    </table>


                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
